.popover {
  position: relative;
  width: fit-content;
  &__headerSearch {
    padding: 10px;
    input {
      height: 30px;
      font-family: FontMedium;
      font-size: 14px;
      border: none;
      color: var(--bombay);
      width: 100%;
      margin: 0 5px;
      outline: none;
      &::placeholder {
        color: #4d4d4d55;
      }
    }
    svg {
      width: 40px;
      height: 30px;
    }
  }

  button {
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popoverList {
    position: absolute;
    top: 30px;
    // left: -50px;
    max-width: 500px;
    min-width: 210px;
    min-height: 100px;
    float: left;
    background: white;
    border: 1px solid #e0e0e0;
    transform: translate(-40%, 0);
    z-index: 3333;
    border-radius: 7px;
    box-shadow: 1px 1px 8px #0000001c;
    &.popTop {
      bottom: 40px;
      top: auto;
      left: 10px;

      .triangle-wrapper {
        position: absolute;
        transform: rotate(315deg) translate(50%, 50%);
        top: auto;
        left: 50%;
        bottom: -7px;
      }
    }

    .title {
      max-width: 100%;
      color: #4d4d4d;
      border-bottom: 1px solid #e0e0e0;
      &--text {
        padding: 20px;
      }
    }

    .triangle-wrapper {
      position: absolute;
      transform: rotate(135deg) translate(50%, 50%);
      top: -7px;
      left: 50%;
      .triangle {
        width: 0;
        height: 0;
        border-top: 10px solid #e0e0e0;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        position: relative;
        transform: translate(-50%, -50%) rotateX(181deg);
      }

      .triangle:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid white;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -9px;
        left: 1px;
      }
    }
  }

  .hidePopover {
    display: none;
  }
  .popoverItems {
    overflow: auto;
    max-height: 150px;
  }
  .popoverItem {
    width: 100%;
    color: #4d4d4d;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    text-align: left;
  }
}
