$primaryClient: var(--primaryClient);
$primaryClientHover: var(--primaryClientHover);

$secondaryClient: var(--secondaryClient);
$secondaryClientHover: var(--secondaryClientHover);

$primaryLogin: var(--primaryClient);
$primaryLoginHover: var(--primaryClientHover);

$secundaryLogin: #329e8f;
$secundaryLoginHover: #3d8276;

$disabled: #d9d9d9;
$wildSand: #f5f5f5;
$cerulean: #0489cc;
$ceruleanHover: #105070;

$bombay: #b2b2b3;
$white: #ffffff;
$whiteHover: #ffffee;
$iron: #e5e5e6;

$facebookColor: #81a5ff;
$facebookColorHover: #5c85ec;

$tundora: #4d4d4d;
$alto: #d9d9d9;
$alabaster: #fafafa;
$silver: #cccccc;
$brownGrey: #9b9b9b;
$dustGray: #999999;
$doveGray: #666666;

$gallery: #ededed;
$salmon: #ff6f6f;

$soft-green: #6dc783;
