.selectInputError{
    .top__select1--Select__control{
        border-color: red;
    }
    .top__select1--Select__placeholder,    
    .top__select-9--Select__dropdown-indicator{
        color: #ff6f6f;
    }
    .top__select1--Select__indicator-separator{
        background-color: #ff6f6f;
    }
    
}