.uploadImageDesktop {
  background: #ededed;
  width: 55vw;
  min-height: 220px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 40px;

  button{
    min-width: 170px !important;
  }
}
