@import "../../../sass/colors";

.optionSearchable{
    &--searchField{       
        position: relative;
    }
    &--input{
        min-height: 50px;
        background-color: $alabaster;
        color: $brownGrey;
        width: 100%;        
        padding: 20px 50px 20px 15px;
        line-height: 16px;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #E0E0E0 !important;
    }
    &--iconField{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

.loaderResults{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}